// Properties common to all pages 

/* General Styles
---------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

/* Body Styles
---------------------------------------------*/
body {
    font-family: 'Roboto', sans-serif;
}


/* Footer Styles
---------------------------------------------*/