// Properties common to all pages 

/* General Styles
---------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

/* Body Styles
---------------------------------------------*/
body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;

    li {
        padding-top: 6px;
    }
}

/* Footer Styles
---------------------------------------------*/
footer {
    color: #fff;
    background-color: $color-footer-bg;
    font-size: 14px;
    padding: 20px 20px 30px;

    h2 {
        font-family: 'shrikhand', sans-serif;
        font-weight: 400;
        font-size: 16px;
        padding-bottom: 10px;
    }
}

.footer-icon {
    width: 30px;
    font-size: 12px;
}