// Properties for the Home Page

/* Loading Spinner On Grey Overlay Styles
---------------------------------------------*/

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    z-index: 99;
    animation: hider 0s ease-in 2s forwards;

    @keyframes hider {
        to {
            transform: scale(0%);
        }
    }

    &__spinner {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid $color-primary;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }
}


/* Home Page Header Styles
---------------------------------------------*/
.home-page-header {
    display: flex;
    justify-content: center;

    @include desktop-only {
        justify-content: flex-start;
    }

    img {
        width: 175px;
        padding: 26px 0 20px 0;

        @include desktop-only {
            padding-left: 30px;
        }
    }
}

/* Home Page General Body Styles
---------------------------------------------*/
body {

    // Media query for desktop
    @include desktop-only {}
}

/* Home Page Location Section Styles
---------------------------------------------*/
.location {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 16px 0;
    background-color: $color-location-bg-color;
    box-shadow: inset 0 6px 5px -5px $color-shadow;
    gap: 14px;

    // Media query for desktop
    @include desktop-only {
        justify-content: flex-start;
    }
}

.location p {
    font-weight: bold;
}

.fa-location-dot {

    // Media query for desktop
    @include desktop-only {
        padding-left: 30px;
    }
}

/* Home Page Flex Container Holding 'Explore' & 'How It Works' Sections 
---------------------------------------------*/
.explore-and-how-it-works-flex-container {
    display: flex;
    flex-direction: column;

    // Media query for desktop
    @include desktop-only {
        flex-direction: row;
        justify-content: space-around;
        gap: 30px;
    }

}


/* Home Page "Explore" Section Styles    
---------------------------------------------*/
.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-general-bg;

    // Media query for desktop
    @include desktop-only {
        background-color: #fff;
        justify-content: center;
    }

    h1 {
        font-size: 25px;
        font-weight: 700;
        margin: 0;
        padding: 38px 0 44px 0;

        // Media query for tablet
        @include tablet-only {
            font-size: 30px;
        }

        // Media query for desktop
        @include desktop-only {
            font-size: 35px;
        }
    }

    p {
        font-size: 18px;
        padding: 0 30px;
        text-align: center;
        padding-bottom: 20px;
    }

    button {
        color: #fff;
        background-image: linear-gradient($color-secondary, $color-primary);
        border: none;
        width: 220px;
        height: 50px;
        border-radius: 25px;
        margin: 10px 0 50px;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
        transition: background-image 0.3s, box-shadow 0.3s;

        &:hover {
            background-image: linear-gradient(lighten($color-secondary, 5%), lighten($color-primary, 5%));
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
        }
    }
}

/* Home Page "How It Works" Section Styles
---------------------------------------------*/
.how-it-works {
    display: flex;
    flex-direction: column;

    // Media query for desktop
    @include desktop-only {
        flex-direction: row;
    }

    &-large-flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-bottom: 70px;

        // Media query for desktop
        @include desktop-only {
            padding: 30px 20px 30px;
        }
    }

    &-small-flex-container {
        display: flex;
        align-items: center;
    }

    h2 {
        padding: 40px 0 30px 20px;
        text-wrap: nowrap;

        // Media query for desktop
        @include desktop-only {
            padding: 50px 10px 0 0;
        }
    }

    .circle {
        border-radius: 50%;
        width: 22px;
        height: 22px;
        border: none;
        color: #fff;
        background-color: $color-primary;
        text-align: center;
        font-size: 12px;
        line-height: 12px;
        padding-top: 6px;
        margin-right: -13px;
        z-index: 0;
    }

    &-list-item {
        display: flex;
        gap: 16px;
        font-weight: 700;
        padding: 28px;
        background-color: $color-general-bg;
        width: 320px;
        border-radius: 20px;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);

        i {
            color: darkgray;
            width: 20px;
            font-size: 18px;
        }
    }

    .featured {
        color: $color-primary;
    }

    .active {
        background-color: lighten($color-primary, 35%);
    }

}

/* Home Page "Restaurant" Section Styles
---------------------------------------------*/

.home-page-restaurant {
    background-color: $color-general-bg;

    h2 {
        padding: 50px 0 20px 20px;
    }

    &-cards-flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 20px 50px;

        // Media query for tablet
        @include tablet-only {
            flex-direction: row;
            justify-content: space-around;
            gap: 20px;
            flex-wrap: wrap;
            padding: 20px 0 50px;
        }

        // Media query for desktop
        @include desktop-only {
            flex-direction: row;
            justify-content: center;
            gap: 40px;
            flex-wrap: wrap;
            padding: 20px 0 50px 0;
        }
    }
}

.card {
    display: flex;
    width: 100%;
    max-width: 325px;
    border-radius: 24px;
    border: none;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    position: relative;

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        min-width: 330px;
        max-height: 170px;
        overflow: hidden;
    }

    .new-label {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 70px;
        text-align: center;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 50%);
        padding: 5px;
        font-size: 12px;
    }

    h3 {
        font-size: 17px;
        padding-top: 5px;
        padding-bottom: 3px;
        padding-left: 5px;
    }

    .favorite {
        .heart-icon-empty {
            opacity: 1;
            transition: opacity .2s;
            position: absolute;
            top: 185px;
            right: 15px;
            z-index: 3;
            font-size: 22px;
            font-weight: 400;
            margin-left: auto;
            padding-right: 12px;
            border: none;
        }

        .heart-icon-full {
            transition: opacity .5s;
            position: absolute;
            top: 185px;
            right: 15px;
            z-index: 4;
            font-size: 22px;
            font-weight: 800;
            margin-left: auto;
            padding-right: 12px;
            background-image: linear-gradient($color-secondary, $color-primary);
            background-clip: text;
            color: transparent;
            opacity: 0;
        }

        &:hover {
            .heart-icon-empty {
                opacity: 0;
            }

            .heart-icon-full {
                opacity: 1;
            }
        }
    }

    p {
        font-size: 16px;
        padding-bottom: 10px;
        padding-left: 5px;
    }

    &-content {
        padding: 6px 6px 6px 10px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        max-width: 320px;
    }

}