// Properties for the home page

/* Header Styles
---------------------------------------------*/
header {
    display: flex;
    justify-content: center;

    @include desktop-only {
        justify-content: flex-start;
    }

    img {
        width: 175px;
        padding: 26px 0 20px 0;

        @include desktop-only {
            padding-left: 30px;
        }
    }
}

/* General Body Styles
---------------------------------------------*/
body {

    // Media query for desktop
    @include desktop-only {}
}

/* Location Section Styles
---------------------------------------------*/
.location {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 16px 0;
    background-color: $color-location-bg-color;
    box-shadow: inset 0 6px 5px -5px $color-shadow;
    gap: 14px;

    // Media query for desktop
    @include desktop-only {
        justify-content: flex-start;
    }
}

.location p {
    font-weight: bold;
}

.fa-location-dot {

    // Media query for desktop
    @include desktop-only {
        padding-left: 30px;
    }
}

/* Explore Section Styles
---------------------------------------------*/
.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-general-bg;

    h1 {
        font-size: 25px;
        font-weight: 700;
        margin: 0;
        padding: 38px 0 44px 0;

        // Media query for desktop
        @include desktop-only {
            font-size: 30px;
        }
    }

    p {
        font-size: 18px;
        padding: 0 30px;
        text-align: center;
        padding-bottom: 20px;
    }

    button {
        color: #fff;
        background-image: linear-gradient($color-secondary, $color-primary);
        border: none;
        width: 220px;
        height: 50px;
        border-radius: 25px;
        margin: 10px 0 50px;

        &:hover {
        background-image: linear-gradient(lighten($color-secondary, 10%), lighten($color-primary, 10%));
        // TODO Darken drop shadow slightly
        }
    }
}

/* How It Works Section Styles
---------------------------------------------*/
.how-it-works {
    display: flex;
    flex-direction: column;

    &-flex-container {
        display: flex;
        justify-content: center;

        &.button-inactive {
            background-color: $color-inactive-button-bg;
        }

        &.button-active {
            background-color: $color-active-button-bg;
        }
    }

    .circle {
        border-radius: 50%;
        width: 34px;
        height: 34px;
        padding: 8px;
        background: #fff;
        border: 3px solid #000;
        color: #000;
        text-align: center;
    }
}

/* Restaurants Section Styles
---------------------------------------------*/