// Properties for the home page

/* Header Styles
---------------------------------------------*/
header {
    display: flex;
    justify-content: center;

    @include desktop-only {
        justify-content: flex-start;
    }

    img {
        width: 175px;
        padding: 26px 0 20px 0;

        @include desktop-only {
            padding-left: 30px;
        }
    }
}

/* General Body Styles
---------------------------------------------*/
body {

    // Media query for desktop
    @include desktop-only {}
}

/* Location Section Styles
---------------------------------------------*/
.location {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 16px 0;
    background-color: $color-location-bg-color;
    box-shadow: inset 0 6px 5px -5px $color-shadow;
    gap: 14px;

    // Media query for desktop
    @include desktop-only {
        justify-content: flex-start;
    }
}

.location p {
    font-weight: bold;
}

.fa-location-dot {

    // Media query for desktop
    @include desktop-only {
        padding-left: 30px;
    }
}

/* Explore Section Styles
---------------------------------------------*/
.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-general-bg;

    h1 {
        font-size: 25px;
        font-weight: 700;
        margin: 0;
        padding: 38px 0 44px 0;

        // Media query for desktop
        @include desktop-only {
            font-size: 30px;
        }
    }

    p {
        font-size: 18px;
        padding: 0 30px;
        text-align: center;
        padding-bottom: 20px;
    }

    button {
        color: #fff;
        background-image: linear-gradient($color-secondary, $color-primary);
        border: none;
        width: 220px;
        height: 50px;
        border-radius: 25px;
        margin: 10px 0 50px;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);

        &:hover {
            background-image: linear-gradient(lighten($color-secondary, 5%), lighten($color-primary, 5%));
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
        }
    }
}

/* How It Works Section Styles
---------------------------------------------*/
.how-it-works {
    display: flex;
    flex-direction: column;

    &-large-flex-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 60px;
    }

    &-small-flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        padding: 40px 0 30px 20px;
    }

    .circle {
        border-radius: 50%;
        width: 22px;
        height: 22px;
        border: none;
        color: #fff;
        background-color: $color-primary;
        text-align: center;
        font-size: 12px;
        line-height: 12px;
        padding-top: 6px;
        margin-right: -13px;
        z-index: 1;
    }

    &-list-item {
        display: flex;
        gap: 16px;
        font-weight: 700;
        padding: 28px;
        background-color: $color-general-bg;
        width: 300px;
        border-radius: 20px;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);

        i {
            color: darkgray;
            width: 20px;
            font-size: 18px;
        }
    }

    .featured {
        color: $color-primary;
    }

    .active {
        background-color: lighten($color-primary, 35%);
    }

}

/* Restaurants Section Styles
---------------------------------------------*/

.restaurants {
    background-color: $color-general-bg;

    h2 {
        padding: 40px 0 30px 20px;
    }
}