// Restaurant Styles

.restaurant-page-header {
    display: flex;
    justify-content: flex-start;

    @include desktop-only {
        justify-content: flex-start;
    }

    img {
        width: 175px;
        padding: 26px 0 20px 0;

        @include desktop-only {
            // padding-left: 30px;
        }
    }
}