// Properties for the Restaurant Pages


/* Restaurant Page Header Styles
---------------------------------------------*/
.restaurant-page-header {
    display: flex;
    justify-content: center;
    align-items: center;

    @include desktop-only {
        justify-content: flex-start;
    }

    a {
        position: absolute;
        top: 28px;
        left: 20px;
        font-size: 20px;
    }

    img {
        width: 175px;
        padding: 26px 0 14px 0;

        @include desktop-only {
            margin-left: 60px;
        }
    }
}

/* Restaurant Page Main Styles
---------------------------------------------*/
.restaurant-page {
    background-color: $color-general-bg;

    &-main-image {
        width: 100%;
        object-fit: cover;
        margin: 0 0 -50px 0;
        position: relative;

        @include desktop-only {
            max-height: 500px;
        }
    }

    &-large-flex-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: none;
        border-radius: 40px 40px 0 0;
        position: relative;
        z-index: 0;
        background-color: $color-general-bg;
        padding: 20px 10px;

    }

    &-small-flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop-only {
            flex-direction: row;
            gap: 20px;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    h1 {
        font-family: shrikhand, sans-serif;
        font-size: 28px;
        font-weight: 400;
        padding-left: 10px;

        @include desktop-only {
            padding-left: 30px;
        }
    }

    .restaurant-page-favorite {
        .heart-icon-empty {
            opacity: 1;
            transition: opacity .2s;
            position: absolute;
            top: 40px;
            right: 15px;
            z-index: 1;
            font-size: 22px;
            font-weight: 400;
            margin-left: auto;
            padding-right: 12px;
            border: none;
        }

        .heart-icon-full {
            transition: opacity .5s;
            position: absolute;
            top: 40px;
            right: 15px;
            z-index: 2;
            font-size: 22px;
            font-weight: 800;
            margin-left: auto;
            padding-right: 12px;
            background-image: linear-gradient($color-secondary, $color-primary);
            background-clip: text;
            color: transparent;
            opacity: 0;
        }

        &:hover {
            .heart-icon-empty {
                opacity: 0;
            }

            .heart-icon-full {
                opacity: 1;
            }
        }
    }


    /* Restaurant Page Menu Item Styles
---------------------------------------------*/

    .menu-item {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        gap: 20px;

        h2 {
            font-size: 16px;
            font-weight: 400;
            padding-left: 10px;
        }

        hr {
            width: 13%;
            height: 3px;
            margin-left: 10px;
            margin-right: auto;
            background-color: $color-tertiary;
            border: 0 none;
            margin-top: -14px;
            margin-bottom: -5px;
        }

        &-squeezer {
            display: flex;
            width: 370px;

            .price {
                width: 70px;
                font-weight: 800;
                display: flex;
                justify-content: center;
                align-items: end;
            }

            .checkmark {
                width: 70px;
                font-size: 20px;
                color: #fff;
                background-color: $color-tertiary;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .menu-item-flex-container {
        padding: 12px 14px 10px;
        background-color: #fff;
        border-radius: 18px;
        width: 320px;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;

        &__description {
            width: 250px;

            h3 {
                font-size: 18px;
                padding-bottom: 3px;
            }

            p {
                font-size: 15px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

        }
    }

    .animate.pop {
        animation-name: animate-pop;
        animation-duration: 1s;
        animation-delay: 0.5s;

        @keyframes animate-pop {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .delay-1 {
            animation-delay: 1s;
        }

        .delay-2 {
            animation-delay: 2s;
        }

        .delay-3 {
            animation-delay: 3s;
        }
    }


    .order-button {
        color: #fff;
        background-image: linear-gradient(#ff79da, #9356dc);
        border: none;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        margin: 30px 0 50px;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
        transition: background-image 0.3s, box-shadow 0.3s;

        &:hover {
            background-image: linear-gradient(lighten($color-secondary, 5%), lighten($color-primary, 5%));
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
        }

        &-flex-container {
            display: flex;
            justify-content: center;
        }
    }
}