// Properties for the Restaurant Pages


/* Restaurant Page Header Styles
---------------------------------------------*/
.restaurant-page-header {
    display: flex;
    justify-content: center;
    align-items: center;

    @include desktop-only {
        justify-content: flex-start;
    }

    a {
        // TODO Move arrow to left
    }

    i {
        font-size: 18px;
    }

    img {
        width: 175px;
        padding: 26px 0 20px 0;

        @include desktop-only {
            // TODO Media query for header logo
        }
    }
}

/* Restaurant Page Main Styles
---------------------------------------------*/
.restaurant-page {
    background-color: $color-general-bg;

    &-image {
        width: 100%;
        max-width: 400px;
    }

    h1 {
        font-family: shrikhand, sans-serif;
        font-size: 26px;
        font-weight: 400;
    }
}


/* Restaurant Page Menu Item Styles
---------------------------------------------*/