/* Colors
---------------------------------------------*/
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$general-background-color: #f6f6f6;
$location-inside-shadow-color: #eaeaea;
$inactive-button-background-color: #f6f6f6;
$active-button-background-color: #F5EDFF;
$footer-background-color: #353535;

/* 
---------------------------------------------*/